.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente */
    z-index: 1000;
    /* Z-index alto para asegurarse de que esté por encima de todo */
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal-buttons button {
    margin: 0 10px;
}